<div class="container">
  <div class="row">
    <div class="col nogutters">
      <div class="main-visual img-fluid d-flex align-items-center justify-content-center">
        <h1 class="text-light">な が の C A K E</h1>
      </div>
    </div>
  </div>
</div>
<div class="text-center m-5">
  <h1 class="my-3">ABOUT</h1>
  <p class="text-muted">
    ながのCAKEは、全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方まで、お召し上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国へ発送可能ですので『いつ』でも『どこ』でもご注文いただけます。</br>
    ぜひご注文ください。
  </p>
</div>